# Dependencies
node_modules/
__pycache__/
*.pyc

# Environment variables / secrets
.env
.env.*
!.env.example

# Build output
dist/
build/
.dist/
*.zip

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Python virtual environment
.venv/
venv/

# AWS
.aws/

# IDE
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db
